.design-card {
  background-color: #66ccff;
  color: aliceblue;
  height: 14%;
}

.title {
  margin-left: 120px;
  margin-top: 12px;
  font-weight: bold;
}

.card-content {
  margin-top: 32px !important;
}
