<mat-card class="mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>{{ product.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{ product.pictureUrl }}" alt="{{ product.name }}" />
  <mat-card-content>
    <p>{{ product.price | currency }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/shop/{{ product.id }}" color="primary">
      View
    </button>
    <button mat-button color="warn" (click)="addItemToBasket()">
      Add to cart
    </button>
  </mat-card-actions>
</mat-card>
