<mat-toolbar class="align-bar">
  <span>
    <img class="nav-img" src="../../../assets/logo.svg" alt="Company's logo" />
  </span>
  <span>
    <a
      mat-button
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a mat-button [routerLink]="['/shop']" routerLinkActive="active">Shop</a>
    <a
      mat-button
      [routerLink]="['/test-error']"
      routerLinkActive="/test-errors"
      routerLinkActive="active"
      >Contact-secret</a
    >
  </span>
  <span>
    <a
      mat-icon-button
      class="icon-gap"
      aria-label="Example icon-button with menu icon"
      [routerLink]="['/basket']"
      routerLinkActive="active"
    >
      <mat-icon
        *ngIf="basket$ | async as basket"
        matBadge="{{ basket.items.length }}"
        matBadgeColor="warn"
        >add_shopping_cart</mat-icon
      >
      <mat-icon
        *ngIf="!(basket$ | async) as basket"
        matBadge="0"
        matBadgeColor="warn"
        >add_shopping_cart</mat-icon
      >
    </a>
    <button
      mat-stroked-button
      color="primary"
      class="item-gap"
      aria-label="Example icon-button with heart icon"
    >
      Login
    </button>
    <button
      mat-stroked-button
      color="primary"
      aria-label="Example icon-button with share icon"
    >
      Sign up
    </button>
  </span>
</mat-toolbar>
