.align-bar {
justify-content: space-between;
position: sticky;
position: -webkit-sticky; /* For macOS/iOS Safari */
top: 0; /* Sets the sticky toolbar to be on top */
z-index: 1000; 
}

.nav-img{
    width: 40%;
    margin-top: 10px;
}

.icon-gap{
    margin-right: 16px;
}

.item-gap{
    margin-right: 8px;
}